# This is a basic workflow to help you get started with Actions

name: windows-swig-lua

# Controls when the action will run. Triggers the workflow on push or pull request
# events but only for the master branch
on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
  # This workflow contains a single job called "build"
  build:
    # The type of runner that the job will run on
    runs-on: windows-latest

    # Steps represent a sequence of tasks that will be executed as part of the job
    steps:
    # Checks-out your repository under $GITHUB_WORKSPACE, so your job can access it

    - uses: actions/checkout@master
      with:
        submodules: true
        
    - uses: crazy-max/ghaction-chocolatey@v1
      with:
        args: install lua swig




    - name: build windows
      run: |
        refreshenv
        echo '::set-env name=LUA_DEV::"C:\Program Files (x86)\Lua\5.1\"'
        
        echo 'LUA_DEV=$LUA_DEV'

        cmake --version
        cmake . -DCMAKE_INSTALL_PREFIX=install -G "Visual Studio 16 2019"
        cmake --build . --config Release --target package
      env:
        LUA_DEV: 'C:\Program Files (x86)\Lua\5.1\'
        LUA_PATH: 'C:\Program Files (x86)\Lua\5.1\lua\?.luac'
        
    - uses: actions/upload-artifact@v2
      with:
        name: my-artifact
        path: game*
